# Mac OS X
*.DS_Store

# Python build
*.pyc

# Temp files
*~
.ipynb_checkpoints

#pictures
*.png

#Data for editing notebooks
/ExampleData

#Unused file that I want to keep around
./scraps/resMCMC.py
